* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: #fff;
  width: 100%;
  position: relative;
}

h1,
.tabs__content h1 {
  text-align: left;
  color: #171616;
  padding: 20px;
}

h2 {
  font-size: small;
  text-align: left;
  padding: 2% 0;
}

/*WEATHER DROPDOWN, ON HOVER, AND CONTENT */
/*add animation arrow on click*/
#weatherButton {

  position: absolute;
  top: 15%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  height: 70%;
  max-height: 70%;
  background-color:#ffffff;
  border: 2px solid #ffffff;
  border-radius: .5em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#openweathermap-widget-23 {
  position: relative; 
  width: 100%; 
  height: auto; 
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.active, #weatherButton:hover{
    background-color: #b2b2b2;
    cursor: pointer;
}

#dropdownArrow{
    float: right;
    width: 0.8em;
    display: flex;
    margin-right: 10%;
    padding-right: 2%;
}

#weatherContent {
    border-radius: .5em;
    display: none;
    overflow: hidden;
    background-color:  #f1f1f1;
    width:auto;
    position: absolute;
    top: calc(15% + 70%);
    right: 2%;
    box-shadow: 0 0.5em  1em rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#openweathermap-widget-21 {
  position: relative; 
  width: 100%; 
  height: auto; 
  
}

/*Temporary Map Image*/
#temporaryMap {
  width: 100%;
}

#mainDiv {
  border: 2px solid black;
  height: 78%;
  align-items: center;
  border-radius: 0.5em;
  width: fit-content;
  top: 17%;
  overflow: hidden;
  left: 3%;
  position: fixed;
  height: 78%;
  max-height: 78%;
  background-color: #ffffff;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  font-family: sans-serif;
  width: 300px;
}

.tabs__label {
  font-size: medium;
  cursor: pointer;
  border-bottom: solid black 2px;
  width: 50%;
  height: 40px; /* Adjust this height as needed */
  padding: 5px;
  color: #696969;
  text-align: center;
  padding-top: 10px;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  margin: 10px;
  line-height: 1.5;
  font-size: 0.7em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  background-color: #d5eee9;
  color: black;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.tabs__content h1 {
  text-align: center;
  color: rgb(23, 22, 22);
  font-size: medium;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#dateInput {
  width: 70%;
  margin-top: 3%;
  margin-left: 15%;
}

.active,
#dateInput:hover {
  cursor: pointer;
}
/*for choosing starting station*/
#startSelector {
  margin-top: 2%;
}

#destinationSelector
/* removed electric bike toggle code*/

#spaceSelector label {
  margin-right: 10px;
}

/* Base styling for the entire search bar area */
.location-search {
  font-family: 'Arial', sans-serif;
  text-align: center;
  max-width: 400px;
}


/* Common styles for all buttons */
.location-search button {
  background-color: #d5eee9;
  border: none;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.location-search button:hover {
  background-color: #89d5c6;
}

/* Style for the input field */
.location-search input[type="text"] {
  width: 100%;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Specific styles for 'Set as Start' and 'Set as End' buttons for differentiation */
#setAsStart {
  background-color: #aedeea;
}

#setAsStart:hover {
  background-color: #60a0b0;
}

#setAsEnd {
  background-color: #aedeea;
}

#setAsEnd:hover {
  background-color: #60a0b0;
}


#map-container {
  width: 100%; /* Set the width to 100% of the viewport width */
  height: 70vh; /* Set the height to 70% of the viewport height, adjust as needed */
  position: relative;
  margin: 0;
  padding: 0;
}

#map {
  height: 120%; /* Set the map height to 100% of the parent container */
}
