<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dublin Bikes Data</title>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <h1>dublinBikes</h1>
      <button type="button" id="weatherButton">
        <div id="openweathermap-widget-23"></div>
        <div id="arrowDiv">
          <img
            src="../static/Images/dropdown.png"
            id="dropdownArrow"
            alt="Dropdown Arrow"
          />
        </div>
      </button>
      <div id="weatherContent">
        <div id="openweathermap-widget-21"></div>
      </div>
    </header>
    <main>
      <section id="map-container">
        <div id="map"></div>
      </section>
      <section id="mainDiv">
        <div class="tabs">
          <input
            type="radio"
            class="tabs__radio"
            name="tabs"
            id="journeyPlanner"
            checked
          />
          <label for="journeyPlanner" class="tabs__label"
            >Journey Planner</label
          >
          <div class="tabs__content">
            <h1>Plan Your Journey</h1>
            <input type="datetime-local" id="dateInput" name="dateInput" />
            <!-- search bar div -->
            <div class="location-search">
              <h2>Search and Set Location</h2>
              <div class="row">
                <!-- row 1 -->
                <input
                  type="text"
                  id="addressInput"
                  class="flex-item"
                  placeholder="Enter an address"
                />
                <button id="findLocationButton" class="flex-item">
                  Search
                </button>
              </div>
              <div class="row">
                <!-- row 2 -->
                <button id="geocodeButton" class="flex-item">
                  Find Closest Station
                </button>
                <button id="findEmptyStationButton" class="flex-item">
                  Find Return Spot
                </button>
              </div>
              <div class="row">
                <!-- row 3 -->
                <button id="setAsStart" class="flex-item">Set as Start</button>
                <button id="setAsEnd" class="flex-item">Set as End</button>
              </div>
            </div>

            <h2>Starting Point</h2>
            <form>
              <label for="locationCheckBox">Use My Current Location</label>
              <input
                type="checkbox"
                id="locationCheckBox"
                name="locationCheckBox"
              />
            </form>
            <div id="startSelector">
              <select required>
                <option value="">Select a Station</option>
              </select>
            </div>
            <h2>Destination</h2>
            <div id="destinationSelector">
              <select required>
                <option value="">Select a Station</option>
                <option value="station1">Station 1</option>
                <option value="station2">Station 2</option>
              </select>
            </div>
            <button id="goButton">Go</button>
            <p id="message">
              For helpful stats and predictions click on the "Stats" tab!
            </p>
          </div>
          <input type="radio" class="tabs__radio" name="tabs" id="statsTab" />
          <label for="statsTab" class="tabs__label" id="statsLabel"
            >Stats</label
          >
          <div class="tabs__content">
            <h1>Select Your Route to View Bike Station Stats</h1>
            <div id="chartsDiv">
              <div id="chartsDiv1"></div>
              <div id="chartsDiv2"></div>
              <div id="predictionsDiv"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMKKvS9vRhP3fCiRPp42gK7-4bL2gYaMw&callback=initMap&libraries=places"
    ></script>
    <script src="{{ url_for('static', filename='test2.js') }}" defer></script>
  </body>
</html>
